input[type="checkbox"] {
    opacity: 0;
}

label {
    position: relative;
}

label::before {
    content: '\f00c';
    font-family: "FontAwesome";
    @include flex-center-row;
    color: white;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background: green;
    padding-top: 2px;
    padding-right: 0.5px;
    position: absolute;
    left: -20px;
    top: 3px;
    transform: scale(0);
    font-size: 12px;
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1);
}

input[type="checkbox"]:checked + label::after {
    border: none;
}

label::after {
    content: "";
    border: 1px solid red;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -20px;
    top: 3px;
}

.solutions::after {
    border: 1px solid lime;
}
.marketing::after {
    border: 1px solid rgb(255, 170, 13);
}
.crm::after {
    border: 1px solid rgb(0, 19, 189);
}
.design::after {
    border: 1px solid rgb(45, 161, 16);
}
.software::after {
    border: 1px solid rgb(38, 96, 255);
}
.task::after {
    border: 1px solid rgb(78, 0, 204);
}
.construction::after {
    border: 1px solid rgb(0, 108, 151);
}
.hr::after {
    border: 1px solid rgb(255, 174, 0);
}
.it::after {
    border: 1px solid rgb(2, 0, 128);
}

.hero {
    width: 100%;
    margin: 0 auto;
    @include flex-center-column;

    .main-text {
        @include flex-center-column;

        h1 {
            font-size: 50px;
            line-height: 130px;
            text-align: center;
        }

        h4 {
            font-size: 25px;
            text-align: center;
        }
    }

    .checkboxes {
        width: 100%;
        padding: 0 15%;
        margin-top: 50px;
        @include flex-center-row;
        gap: 10px;
        flex-flow: row wrap;

        .checkbox-item {
            background: rgb(241, 254, 255);
            // flex: 1 1 calc(20% - 30px);
            padding: 5px 10px;
            border-radius: 20px;

            .checkbox-item:hover {
                background: red;
            }
        
        }

        .checked {
            background: rgb(203, 242, 247);
        }

    }

    .get-started {
        margin: 50px 0;
        border: 2px solid green;
        background: green;
        border-radius: 5px;
        color: white;
        padding: 8px 20px;
        transition: .6s ease;
    }

    .get-started:hover {
        background: white;
        color: green;
        background-clip: padding-box;
    }

    .hero-image {
        width: 100%;

        img {
            width: 100%;
        }
    }
}
