@include custom-1125 {
    .features {
        .feature-one-img {
            right: 2%;
            width: 400px;
        }

        .feature-two-img {
            left: 5%;
        }

        .feature-three-img {
            right: 5%;
        }
    }
}

@include custom-1045 {
    .hero {

        .checkboxes {
            padding: 0 12%;
        }
    }

    .features {
        .feature-two-headline {
            width: 55%;
            margin-right: 0%;
        }
    }
}

@include small-desktop {
    .hero {

        .main-text {

            h1 {
                font-size: 40px;
                line-height: 80px;
            }

            h4 {
                font-size: 22px;
            }
        }

        .checkboxes {
            padding: 0 12%;
        }
        
    }

}

@include custom-850 {
    .features {
        .feature-two-img {
            width: 290px;
            left: 0%;
            top: 595px;
        }

        .feature-two-headline {
            width: 60%;
        }

        .feature-three-img {
            width: 290px;
            right: 0%;
            top: 1170px;
        }

        .feature-three-headline {
            width: 60%;
        }
    }
}

@include tablet {
    .header {

        padding: 10px 0px 10px 20px;

        &-buttons {
            display: none;
        }

        .hamburger-menu {
            display: block;
        }
    }

    .hero {

        .main-text {

            h1 {
                font-size: 33px;
                line-height: 80px;
            }

            h4 {
                font-size: 20px;
            }
        }

        .checkboxes {
            padding: 0 5%;
            .checkbox-item {
                flex: 1 1 calc(33% - 30px);
            }
            #design-item {
                flex: 1 1 calc(50% - 30px);
            }
            #software-item {
                flex: 1 1 calc(50% - 30px);
            }
            #it-item {
                flex: 1 1 calc(50% - 30px);
            }
            #solutions-item {
                flex: 1 1 calc(50% - 30px);
            }
        }
    }

    label {
        font-size: 15px;
    }

    label::before {
        width: 15px;
        height: 15px;
        top: 5px;
    }

    label::after {
        width: 15px;
        height: 15px;
        top: 5px;
    }

    .features {
        h3 {
            line-height: 30px;
        }

        .feature-one-headline {
            width: 70%;
            margin-bottom: 50px;
        }
        .feature-one-img {
            width: 300px;
        }
        .feature-two-headline {
            width: 55%;
        }
        .feature-two-img {
            top: 870px;
        }
        .feature-three-headline {
            width: 55%;
        }
        .feature-three-img {
            top: 1650px;
        }


        .feature-one {
            flex-direction: column;
            width: 100%;
            & > * {
                width: 100%;
            }

            .messaging-and-calls {
                flex-direction: row;
            }
        }

        .feature-two {
            flex-direction: column;
            width: 100%;
            & > * {
                width: 100%;
            }

            .search-and-sharing {
                flex-direction: row;
            }
        }

        .feature-three {
            flex-direction: column;
            width: 100%;
            & > * {
                width: 100%;
            }
        }
    }
}

@include custom-755 {
    .features {
        .feature-three-img {
            top: 1700px;
        }
    }
}

@include custom-645 {
    .hero {

        .main-text {
            width: 90%;
            margin: 0 auto;

            h1 {
                font-size: 30px;
                line-height: 35px;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            h4 {
                font-size: 18px;
                margin-bottom: 0px;
            }
        }

        .checkboxes {
            margin-top: 35px;

            .checkbox-item {
                flex: 1 1 calc(50% - 30px);
            }
        }

        .get-started {
            margin: 30px 0;
            border: none;
            background: green;
            border-radius: 5px;
            color: white;
            padding: 7px 15px;
            font-size: 13px;
        }
    }

    .features {
        margin-top: 70px;

        .feature-one-img {
            width: 80%;
            right: 10%;
        }
        .feature-one-headline {
            margin-top: 60%;
            width: 100%;
        }
        .feature-two-headline {
            width: 100%;
        }
        .feature-two-img {
            display: none;
        }
        .feature-three-headline {
            width: 100%;
        }
        .feature-three-img {
            display: none;
        }

        .feature-one {
            margin-bottom: 50px;
        }

        .feature-two {
            margin-bottom: 50px;
        }

        .feature-img-phone {
            display: block;
        }
    }
}

@include mobile-lg {
    .header {

        .nav {
            width: 100%;
            
            .menu-nav {
                width: 100%;
            }
        }
    }

    .hero {

        .checkboxes {
            padding: 0 10%;

            .checkbox-item {
                flex: 1 1 calc(100%);
            }
            #design-item {
                flex: 1 1 calc(100%);
            }
            #software-item {
                flex: 1 1 calc(100%);
            }
            #it-item {
                flex: 1 1 calc(100%);
            }
            #solutions-item {
                flex: 1 1 calc(100%);
            }
        }
    }

    .features {
        .feature-one {
            flex-direction: column;
            width: 100%;
            & > * {
                width: 100%;
            }

            .messaging-and-calls {
                flex-direction: row;
            }
        }

        .feature-one {

            .messaging-and-calls {
                flex-direction: column;
            }
        }

        .feature-two {

            .search-and-sharing {
                flex-direction: column;
            }
        }
    }
}