.header {
    width: 100%;
    padding: 15px 80px;
    @include flex-center-row;
    justify-content: space-between;

    img {
        height: 40px;
    }

    &-buttons {
        @include flex-center-row;
        gap: 40px;

        button {
            background: transparent;
            border: none;
            color: black;
        }

        .get-started {
            background: green;
            border-radius: 5px;
            color: white;
            padding: 10px 20px;
        }
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vh;
        height: 100vh;
        opacity: 0.95;
        visibility: hidden;
        z-index: 5;
    
        &.open {
            visibility: visible;
        }

        .menu-nav {
            @include flex-center-column;
            flex-flow: column wrap;
            height: 100vh;
            width: 50vh;
            overflow: hidden;
            background: black;
            list-style: none;
            padding-right: 1rem;
            transform: translateX(100%);
            @include transition-ease;

            &.open {
                transform: translateX(0);
            }

            .menu-nav-item {
                font-size: 1rem;
                padding: 1.5rem 0;

                button {
                    background: transparent;
                    border: none;
                    color: white;
                }

                .get-started {
                    background: green;
                    border-radius: 5px;
                    color: white;
                    padding: 10px 20px;
                }
            }
        }
    }

    .hamburger-menu {
        display: none;
        position: absolute;
        z-index: 9;
        right: 20px;
        top: 22px;
        height: 20px;
        width: 28px;
        cursor: pointer;
        @include transition-ease;
    
        .hamburger-menu-button {
            position: absolute;
            right: 0;
            top: .5rem;
            width: 28px;
            height: 3px;
            background: black;
            @include transition-ease;
    
            &::before {
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: black;
                @include transition-ease;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 8px;
                width: 28px;
                height: 3px;
                background: black;
                @include transition-ease;
            }
    
            &.open {
                transform: rotate(720deg);
                background: transparent;
    
                &::before {
                    transform: rotate(45deg) translate(5px, 8px);
                    background: white;
                }
    
                &::after {
                    transform: rotate(-45deg) translate(3px, -7px);
                    background: white;
                }
            }
        }
    }
}